@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

@import 'components/index';
@import 'elements/index';

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.btn-default {
	background-color: #f08dfc;
	border-radius: 4px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #f08dfc;
}

.btn-default:hover {
	background-color: #e724ff;
	color: #ffffff;
}

.btn-default:active {
	position: relative;
	top: 1px;
}